.playerRow{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
border-bottom:1px solid rgba(255,255,255,.06);
}

.playerRow:last-child{
border:none;
}

.playerRow input{
transform:scale(1.2);
margin-right:8px;
accent-color:#f0c541;
}